/* можно делать наследуемые. Например У класса Т все теги ем будут изменяться. .Т em {} */

.div {
    color:#4cad4e;
    font-size: 40px;
    background-color: #09d3ed;
    border: 3px dashed;
     
    /* Отступы, есть команды на отталкивание с определённой стороны */
    margin: 5px;
    /* Внутренние отступы */
    padding: 8px;
    text-align: center;
}
.div:hover{
    border: 30px solid #050585;
}

.animation {
    font-size: 40px;
    background-color: #09d3ed;  
    opacity: 0.6;
    border:solid 3px;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    width: 20%;
    margin-left: 400px;
    box-shadow: -13px 13px 5px black;
    transform: scale(0.9);
    
}
.animation:hover{
    transform: rotate(360deg);
}
#animation:hover{
    transform: rotate(180deg);
    background-color: #1e1ae0;  
    transition: 2.0s all;
}

#someId {
    color: blue;
    padding-left: 50px;
    width: 15%;
    transform: rotate(30deg) scale(1.0);
    font-weight: bold;
    border: 3px dotted;
}
#someId:hover{
    border: 30px solid black ;
}

body {
    background-image: url(html/phone.jpg);
}

a {
    font-size: 25px;
    color: #082401;
}

#colors {
    font-size: 25px;
    color: #49eb34;
    background-color: aliceblue;
    margin-left: 800px;
    padding: 20px;
    border-radius: 30px;
    opacity: 0.7;
}

#colors:hover{
    border: 30px solid gray;
    font-size: 45px;
    opacity: 1;
}

.opacity {
    opacity: 0.5;
}
.opacity:hover{
    opacity: 1;
}
.shadow {
    box-shadow: -13px 13px 5px black;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}


@keyframes color-change {
	0%{
    color: blue;
    }

    25%{
    color: var(--main-blue);
    }
    
	50%{
    color: red;
    }
    
    75%{
    color: rgb(248, 252, 8);
    }

    100%{
	color: green;
	}
}
.animation-text {
animation: color-change 2.5s infinite;
}
:root {
    --main-blue: #00bfff;
}

.fixet-position {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: var(--main-blue);
    font-size: 40px;
    padding: 10px 30px;
    border-radius: 5px;
}
